
convertPyTorch2TF_Transformers.py
roberta-base-ca-cased-ner_spark_nlp.zip
roberta-base-ca-cased-ner_spark_nlp/.roberta_classification_tensorflow.crc
roberta-base-ca-cased-ner_spark_nlp/fields/labels/._SUCCESS.crc
roberta-base-ca-cased-ner_spark_nlp/fields/labels/.part-00000.crc
roberta-base-ca-cased-ner_spark_nlp/fields/labels/.part-00001.crc
roberta-base-ca-cased-ner_spark_nlp/fields/labels/.part-00002.crc
roberta-base-ca-cased-ner_spark_nlp/fields/labels/.part-00003.crc
roberta-base-ca-cased-ner_spark_nlp/fields/labels/_SUCCESS
roberta-base-ca-cased-ner_spark_nlp/fields/labels/part-00000
roberta-base-ca-cased-ner_spark_nlp/fields/labels/part-00001
roberta-base-ca-cased-ner_spark_nlp/fields/labels/part-00002
roberta-base-ca-cased-ner_spark_nlp/fields/labels/part-00003
roberta-base-ca-cased-ner_spark_nlp/fields/merges/._SUCCESS.crc
roberta-base-ca-cased-ner_spark_nlp/fields/merges/.part-00000.crc
roberta-base-ca-cased-ner_spark_nlp/fields/merges/.part-00001.crc
roberta-base-ca-cased-ner_spark_nlp/fields/merges/.part-00002.crc
roberta-base-ca-cased-ner_spark_nlp/fields/merges/.part-00003.crc
roberta-base-ca-cased-ner_spark_nlp/fields/merges/_SUCCESS
roberta-base-ca-cased-ner_spark_nlp/fields/merges/part-00000
roberta-base-ca-cased-ner_spark_nlp/fields/merges/part-00001
roberta-base-ca-cased-ner_spark_nlp/fields/merges/part-00002
roberta-base-ca-cased-ner_spark_nlp/fields/merges/part-00003
roberta-base-ca-cased-ner_spark_nlp/fields/signatures/._SUCCESS.crc
roberta-base-ca-cased-ner_spark_nlp/fields/signatures/.part-00000.crc
roberta-base-ca-cased-ner_spark_nlp/fields/signatures/.part-00001.crc
roberta-base-ca-cased-ner_spark_nlp/fields/signatures/.part-00002.crc
roberta-base-ca-cased-ner_spark_nlp/fields/signatures/.part-00003.crc
roberta-base-ca-cased-ner_spark_nlp/fields/signatures/_SUCCESS
roberta-base-ca-cased-ner_spark_nlp/fields/signatures/part-00000
roberta-base-ca-cased-ner_spark_nlp/fields/signatures/part-00001
roberta-base-ca-cased-ner_spark_nlp/fields/signatures/part-00002
roberta-base-ca-cased-ner_spark_nlp/fields/signatures/part-00003
roberta-base-ca-cased-ner_spark_nlp/fields/vocabulary/._SUCCESS.crc
roberta-base-ca-cased-ner_spark_nlp/fields/vocabulary/.part-00000.crc
roberta-base-ca-cased-ner_spark_nlp/fields/vocabulary/.part-00001.crc
roberta-base-ca-cased-ner_spark_nlp/fields/vocabulary/.part-00002.crc
roberta-base-ca-cased-ner_spark_nlp/fields/vocabulary/.part-00003.crc
roberta-base-ca-cased-ner_spark_nlp/fields/vocabulary/_SUCCESS
roberta-base-ca-cased-ner_spark_nlp/fields/vocabulary/part-00000
roberta-base-ca-cased-ner_spark_nlp/fields/vocabulary/part-00001
roberta-base-ca-cased-ner_spark_nlp/fields/vocabulary/part-00002
roberta-base-ca-cased-ner_spark_nlp/fields/vocabulary/part-00003
roberta-base-ca-cased-ner_spark_nlp/metadata/._SUCCESS.crc
roberta-base-ca-cased-ner_spark_nlp/metadata/.part-00000.crc
roberta-base-ca-cased-ner_spark_nlp/metadata/_SUCCESS
roberta-base-ca-cased-ner_spark_nlp/metadata/part-00000
roberta-base-ca-cased-ner_spark_nlp/roberta_classification_tensorflow
PlanTL-GOB-ES/roberta-base-ca/config.json
PlanTL-GOB-ES/roberta-base-ca/saved_model/1/assets/merges.txt
PlanTL-GOB-ES/roberta-base-ca/saved_model/1/assets/vocab.txt
PlanTL-GOB-ES/roberta-base-ca/saved_model/1/saved_model.pb
PlanTL-GOB-ES/roberta-base-ca/saved_model/1/variables/variables.data-00000-of-00001
PlanTL-GOB-ES/roberta-base-ca/saved_model/1/variables/variables.index
PlanTL-GOB-ES/roberta-base-ca/tf_model.h5
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/.roberta_tensorflow.crc
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/merges/._SUCCESS.crc
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/merges/.part-00000.crc
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/merges/.part-00001.crc
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/merges/.part-00002.crc
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/merges/.part-00003.crc
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/merges/_SUCCESS
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/merges/part-00000
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/merges/part-00001
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/merges/part-00002
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/merges/part-00003
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/signatures/._SUCCESS.crc
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/signatures/.part-00000.crc
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/signatures/.part-00001.crc
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/signatures/.part-00002.crc
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/signatures/.part-00003.crc
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/signatures/_SUCCESS
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/signatures/part-00000
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/signatures/part-00001
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/signatures/part-00002
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/signatures/part-00003
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/vocabulary/._SUCCESS.crc
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/vocabulary/.part-00000.crc
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/vocabulary/.part-00001.crc
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/vocabulary/.part-00002.crc
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/vocabulary/.part-00003.crc
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/vocabulary/_SUCCESS
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/vocabulary/part-00000
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/vocabulary/part-00001
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/vocabulary/part-00002
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/fields/vocabulary/part-00003
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/metadata/._SUCCESS.crc
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/metadata/.part-00000.crc
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/metadata/_SUCCESS
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/metadata/part-00000
PlanTL-GOB-ES/roberta-base-ca_spark_nlp/roberta_tensorflow
PlanTL-GOB-ES/roberta-base-ca_tokenizer/merges.txt
PlanTL-GOB-ES/roberta-base-ca_tokenizer/special_tokens_map.json
PlanTL-GOB-ES/roberta-base-ca_tokenizer/tokenizer_config.json
PlanTL-GOB-ES/roberta-base-ca_tokenizer/vocab.json
PlanTL-GOB-ES/roberta-base-ca_tokenizer/vocab.txt
roberta-base-ca_spark_nlp.zip
roberta-base-ca_spark_nlp/.roberta_tensorflow.crc
roberta-base-ca_spark_nlp/fields/merges/._SUCCESS.crc
roberta-base-ca_spark_nlp/fields/merges/.part-00000.crc
roberta-base-ca_spark_nlp/fields/merges/.part-00001.crc
roberta-base-ca_spark_nlp/fields/merges/.part-00002.crc
roberta-base-ca_spark_nlp/fields/merges/.part-00003.crc
roberta-base-ca_spark_nlp/fields/merges/_SUCCESS
roberta-base-ca_spark_nlp/fields/merges/part-00000
roberta-base-ca_spark_nlp/fields/merges/part-00001
roberta-base-ca_spark_nlp/fields/merges/part-00002
roberta-base-ca_spark_nlp/fields/merges/part-00003
roberta-base-ca_spark_nlp/fields/signatures/._SUCCESS.crc
roberta-base-ca_spark_nlp/fields/signatures/.part-00000.crc
roberta-base-ca_spark_nlp/fields/signatures/.part-00001.crc
roberta-base-ca_spark_nlp/fields/signatures/.part-00002.crc
roberta-base-ca_spark_nlp/fields/signatures/.part-00003.crc
roberta-base-ca_spark_nlp/fields/signatures/_SUCCESS
roberta-base-ca_spark_nlp/fields/signatures/part-00000
roberta-base-ca_spark_nlp/fields/signatures/part-00001
roberta-base-ca_spark_nlp/fields/signatures/part-00002
roberta-base-ca_spark_nlp/fields/signatures/part-00003
roberta-base-ca_spark_nlp/fields/vocabulary/._SUCCESS.crc
roberta-base-ca_spark_nlp/fields/vocabulary/.part-00000.crc
roberta-base-ca_spark_nlp/fields/vocabulary/.part-00001.crc
roberta-base-ca_spark_nlp/fields/vocabulary/.part-00002.crc
roberta-base-ca_spark_nlp/fields/vocabulary/.part-00003.crc
roberta-base-ca_spark_nlp/fields/vocabulary/_SUCCESS
roberta-base-ca_spark_nlp/fields/vocabulary/part-00000
roberta-base-ca_spark_nlp/fields/vocabulary/part-00001
roberta-base-ca_spark_nlp/fields/vocabulary/part-00002
roberta-base-ca_spark_nlp/fields/vocabulary/part-00003
roberta-base-ca_spark_nlp/metadata/._SUCCESS.crc
roberta-base-ca_spark_nlp/metadata/.part-00000.crc
roberta-base-ca_spark_nlp/metadata/_SUCCESS
roberta-base-ca_spark_nlp/metadata/part-00000
roberta-base-ca_spark_nlp/roberta_tensorflow
ca-roberta.ipynb
